<html>
    <head>
        <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="node_modules/nes.css/css/nes.css">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <script src="node_modules/lodash/lodash.js"></script>
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="tbakey.js"></script>
        <script src="app_constants.js"></script>
        <script src="app.js"></script>
    </head>
    <body style="margin: 50px;">
        <header>
            <h1>BNI ML</h1>
            <p>Batteries Not Included FFAI entry</p>
        </header>
        <section class="balloon nes-container with-title">
            <h2 class="title">information</h2>
            <div class="messages">
                <div class="message -left">
                    <i class="nes-bcrikko"></i>
                    <div class="message_balloon nes-balloon from-left">
                        <p>Please input event code!</p>
                    </div>
                    <div class="nes-field">
                            <label for="pick_field">your pick</label>
                            <input type="text" id="pick_field" class="nes-input">
                    </div>
                </div>
            </div>
        </section>
        <section class="nes-container with-title">
            <h2 class="title">picks</h2>
            <div class="nes-table-responsive">
                <table class="picks_table nes-table is-bordered is-centered">
                    <thead>
                        <tr>
                            <th>team</th>
                            <th>round 1</th>
                            <th>round 2</th>
                            <th>round 3</th>
                            <th>score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MissingNo</td>
                            <td>MissingNo</td>
                            <td>MissingNo</td>
                            <td>MissingNo</td>
                            <td>MissingNo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="nes-container with-title">
            <h2 class="title">teams remaining</h2>
            <ul class="remaining_teams_list nes-list is-disc">
                <li>MissingNo</li>
            </ul>
        </section>
    </body>

    <script id="remaining_teams_template" type="text/template">
        <% _.forEach(teams, function(team) { %>
            <li><%- team.team %> (<%- team.elo %>)</li>
        <% }); %>
    </script>
    
    <script id="picks_template" type="text/template">
        <% _.forEach(entrants, function(entrant) { %>
            <tr>
                <td><%- entrant.name %></td>
                <td><% if(!!entrant.picks[0]){ print(entrant.picks[0].team) %> (<% print(entrant.picks[0].elo + ")")  } %></td>
                <td><% if(!!entrant.picks[1]){ print(entrant.picks[1].team) %> (<% print(entrant.picks[1].elo + ")")  } %></td>
                <td><% if(!!entrant.picks[2]){ print(entrant.picks[2].team) %> (<% print(entrant.picks[2].elo + ")")  } %></td>
                <td><%- entrant.score %></td>
            </tr>
        <% }); %>
    </script>
    <script id="balloon_template" type="text/template">
        <p><%- entrant.name %> is on the clock!</p>
    </script>
</html>